page-login {
  .logo {
    display: flex;
    justify-content: center;
    margin-top: 5vh;
    img{
      width: 40vw;
      height: 20vh
    }
  }
  .forget-pwd{
    float: right;
    margin-right: 2vw;
  }
  .bottom-tips {
    position: fixed;
    bottom: 0;
  }

}
