page-location {
  .inner-list{
    .input-wrapper{
      margin-left: 10px;
    }

  }
  ion-list-header{
    //margin-left: -5vw;
    span{

      font-size: large;
      font-weight: bold;
    }
  }
}
