<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button tappable ion-button icon-only (click)="goHomeMenuPage()">
        <ion-icon color="Gray-color" name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      <div >
        <p>{{userName}}</p>
        <p class="cut-title">欢迎来到{{factoryName}}</p>
      </div>
    </ion-title>
    <ion-buttons *ngIf="messageCount > 0" end>
      <button tappable ion-button icon-only (click)="gotoUnreadMessage()" >
        <ion-icon color="Gray-color" name="ios-mail-outline">
          <ion-badge class="bage-message">{{messageCount}}</ion-badge>
        </ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button tappable ion-button icon-only (click)="goSettingPage()" >
        <ion-icon color="Gray-color" name="settings">
        </ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content>

  <ion-card ion-item  no-lines style="background-image: none;" >
    <ion-card-header tappable (click)="openCalendar()">
      <ion-row *ngIf="!status">
        <ion-col offset-4 col-3>
          <p style="font-weight: bold;font-size: 2rem">{{monStr}}月{{dayStr}}日</p>
          <!--<p style="margin-left: -10px;font-weight: bold;font-size: 1.3em">{{dayStr}}日</p>-->
        </ion-col>
        <!--<ion-col col-6 *ngIf="isToday">-->
          <!--<span style="font-size: 4rem">今天</span>-->
        <!--</ion-col>-->

      </ion-row>
      <ion-row *ngIf="status">
        <ion-col col-3 >
          {{selectDay}}
        </ion-col>
        <ion-col col-9>
          <ion-icon item-right name="md-arrow-dropup" style="margin-left: 57vw" ></ion-icon>
        </ion-col>
      </ion-row>
    </ion-card-header>

    <ion-calendar [@expandDate]="expandStatus" [(ngModel)]="date"
                  [options]="calendarOptions"
                  [format]="'YYYY-MM-DD'"
                  (onChange)="onChange($event)">
    </ion-calendar>

  </ion-card>


  <ion-list no-lines class="type-list"  [ngSwitch]="listLength">

    <!--3个item-->
    <div *ngSwitchCase="3">
      <div *ngFor="let item of typeList; index as i">
        <ion-item  class="item-5" (click)="getMealTypeDetail(item, i)">
          <ion-avatar item-start>
            <img src="{{item.imgUrl}}"/>
          </ion-avatar>
          {{item.label}}
          <!--<ion-icon *ngIf="!(item.value === valueStr)" name="ios-arrow-forward-outline" item-end></ion-icon>-->
          <ion-icon [@expand]="item.direction" name="ios-arrow-up-outline" item-end></ion-icon>
        </ion-item>
        <div [@expand]="item.status">
          <ion-list no-lines>
            <div *ngFor="let p of item?.officeList; index as ci">
              <ion-item class="item-list-normal" (click)="getProductList(item, p, i, ci)">
                <ion-avatar item-start>
                  <img src="{{p.imgUrl}}"/>
                </ion-avatar>
                {{p.name}}
                <!--<ion-icon *ngIf="!p.status" name="ios-arrow-forward-outline" item-end></ion-icon>-->
                <ion-icon [@expandDetail]="p.direction" name="ios-arrow-up-outline" item-end></ion-icon>
              </ion-item>
              <div [@expandDetail]="p.status">
                <div *ngFor="let de of p.productList" >
                  <ion-slides pager>
                    <ion-slide *ngFor="let path of de?.imgUrl">
                      <img src="{{path}}"/>
                    </ion-slide>
                  </ion-slides>
                  <ion-item tappable (click)="showDetailModal(de, p.id, item.value)">
                    <p class="product-title">{{de.name}}</p>
                    <p class="message-content">包括： {{de.productName}} </p>
                    <button class="order-button" ion-button color="secondary" (click)="doOrder($event, de, p.id, item.value)">订餐</button>
                    <ion-icon name="ios-arrow-forward-outline" item-end></ion-icon>
                  </ion-item>
                </div>
              </div>
            </div>
          </ion-list>
        </div>
      </div>
    </div>

    <!--4个item-->
    <div *ngSwitchCase="4">
      <div *ngFor="let item of typeList; index as i">
        <ion-item  class="item-5" (click)="getMealTypeDetail(item, i)">
          <ion-avatar item-start>
            <img src="{{item.imgUrl}}"/>
          </ion-avatar>
          {{item.label}}
          <!--<ion-icon *ngIf="!(item.value === valueStr)" name="ios-arrow-forward-outline" item-end></ion-icon>-->
          <ion-icon [@expand]="item.direction" name="ios-arrow-up-outline" item-end></ion-icon>
        </ion-item>
        <div [@expand]="item.status">
          <ion-list no-lines>
            <div *ngFor="let p of item?.officeList; index as ci">
              <ion-item class="item-list-normal" (click)="getProductList(item, p, i, ci)">
                <ion-avatar item-start>
                  <img src="{{p.imgUrl}}"/>
                </ion-avatar>
                {{p.name}}
                <!--<ion-icon *ngIf="!p.status" name="ios-arrow-forward-outline" item-end></ion-icon>-->
                <ion-icon [@expandDetail]="p.direction" name="ios-arrow-up-outline" item-end></ion-icon>
              </ion-item>
              <div [@expandDetail]="p.status">
                <div *ngFor="let de of p.productList" >
                  <ion-slides pager>
                    <ion-slide *ngFor="let path of de?.imgUrl">
                      <img src="{{path}}"/>
                    </ion-slide>
                  </ion-slides>
                  <ion-item tappable (click)="showDetailModal(de, p.id, item.value)">
                    <p class="product-title">{{de.name}}</p>
                    <p class="message-content">包括： {{de.productName}} </p>
                    <button class="order-button" ion-button color="secondary" (click)="doOrder($event, de, p.id, item.value)">订餐</button>
                    <ion-icon name="ios-arrow-forward-outline" item-end></ion-icon>
                  </ion-item>
                </div>
              </div>
            </div>
          </ion-list>
        </div>
      </div>
    </div>

    <!--5个item-->
    <div *ngSwitchCase="5">
      <div *ngFor="let item of typeList; index as i">
        <ion-item  class="item-5" (click)="getMealTypeDetail(item, i)">
          <ion-avatar item-start>
            <img src="{{item.imgUrl}}"/>
          </ion-avatar>
          {{item.label}}
          <!--<ion-icon *ngIf="!(item.value === valueStr)" name="ios-arrow-forward-outline" item-end></ion-icon>-->
          <ion-icon [@expand]="item.direction" name="ios-arrow-up-outline" item-end></ion-icon>
        </ion-item>
        <div [@expand]="item.status">
          <ion-list no-lines>
            <div *ngFor="let p of item?.officeList; index as ci">
              <ion-item class="item-list-normal" (click)="getProductList(item, p, i, ci)">
                <ion-avatar item-start>
                  <img src="{{p.imgUrl}}"/>
                </ion-avatar>
                {{p.name}}
                <!--<ion-icon *ngIf="!p.status" name="ios-arrow-forward-outline" item-end></ion-icon>-->
                <ion-icon [@expandDetail]="p.direction" name="ios-arrow-up-outline" item-end></ion-icon>
              </ion-item>
              <div [@expandDetail]="p.status">
                <div *ngFor="let de of p.productList" >
                  <ion-slides pager>
                    <ion-slide *ngFor="let path of de?.imgUrl">
                      <img src="{{path}}"/>
                    </ion-slide>
                  </ion-slides>
                  <ion-item tappable (click)="showDetailModal(de, p.id, item.value)">
                    <p class="product-title">{{de.name}}</p>
                    <p class="message-content">包括： {{de.productName}} </p>
                    <button class="order-button" ion-button color="secondary" (click)="doOrder($event, de, p.id, item.value)">订餐</button>
                    <ion-icon name="ios-arrow-forward-outline" item-end></ion-icon>
                  </ion-item>
                </div>
              </div>
            </div>
          </ion-list>
        </div>
      </div>
    </div>
    <div *ngSwitchDefault>
      <ion-item class="item-3" *ngFor="let item of typeList">
        <ion-avatar item-start>
          <img src="{{item.imgUrl}}"/>
        </ion-avatar>
        {{item.label}}
        <ion-icon name="ios-arrow-forward-outline" item-end></ion-icon>
      </ion-item>
    </div>
  </ion-list>


  <div *ngIf="(isNull && typeList.length === 0)" class="null-tips">
    <img src="assets/imgs/null.png" alt="">
    <div>暂无数据</div>
  </div>


  <!--<ion-card *ngFor="let item of typeList"  class="ion-card-prod"  no-lines tappable (click)="gotoSelectTypePage(item.value, factoryName)">-->
    <!--<img src="{{item.imgUrl}}"/>-->
    <!--<div class="card-title">{{item.label}}</div>-->
  <!--</ion-card>-->


</ion-content>
