
<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button tappable ion-button icon-only (click)="goHomeMenuPage()">
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      <div>
        <span>Jimmy</span><br/>
        <span>欢迎来到{{factoryName}}</span>
      </div>
    </ion-title>
    <ion-buttons end>
      <button tappable ion-button icon-only (click)="goSettingPage()" >
        <ion-icon name="settings">
        </ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-card ion-item  no-lines style="background-image: none" >
    <ion-card-header (click)="openCalendar()">
      <ion-row *ngIf="!status">
        <ion-col col-3>
          <p>{{monStr}}月</p>
          <p style="margin-left: -10px;font-weight: bold;font-size: 1.3em">{{dayStr}}日</p>
        </ion-col>
        <ion-col col-6 *ngIf="isToday">
          <h1>今天</h1>
        </ion-col>

      </ion-row>
      <ion-row *ngIf="status">
        <ion-col col-3 >
          {{selectDay}}
        </ion-col>
        <ion-col col-9>
          <ion-icon item-right name="md-arrow-dropdown" style="margin-left: 57vw" ></ion-icon>
        </ion-col>
      </ion-row>
    </ion-card-header>

    <ion-calendar *ngIf="status" [(ngModel)]="date"
                  [options]="calendarOptions"
                  [format]="'YYYY-MM-DD'"
                  (onChange)="onChange($event)">
    </ion-calendar>

  </ion-card>
  <ion-card *ngFor="let item of typeList"  class="ion-card-prod"  no-lines (click)="gotoSelectTypePage(item.value, factoryName)">
    <img src="{{item.imgUrl}}"/>
    <div class="card-title">{{item.label}}</div>
  </ion-card>


</ion-content>
