page-waiting-use {

  position: absolute;

  ion-buttons {
    margin: 0 0.4rem !important;
  }


  // 文字遮罩层
  .back-ground {
    width: 37vw;
    height: 30vh;
    background: rgba(0, 0, 0, .5);
    position: absolute;
    left: 0;
    top: 0;
  }


  //ion-header{
  //  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
  //}

  .content-ios{
    background-color: #ededed;
  }
  /*无数据样式*/
  .null-tips {
    color: #bfbfbf;
    position: relative;
    left: 44%;
    margin-top: 60%;
    font-size: 1.7rem;
    img{
      width: auto;
      height: auto;
      //overflow: hidden;
      //margin-top: -50px;
      //margin-bottom: -50px;
    }
  }

  .bage-message {
    padding: 0 !important;
    margin-left: -10px !important;
    margin-top: -20px !important;
    //min-width: 3px !important;
    font-size: 1rem !important;
    background-color: #ff0f1c !important;
  }


  // 自定义card 样式
  .my-card {
    margin: 10px;
    border-radius: 2px;
    width: calc(100% - 20px);
    font-size: 2rem;
    background: #fff;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  }

  /* 头部样式*/
  .toolbar-ios {
    color: #686868;
    min-height: 70px !important;
    p {
      margin: 0 !important;
    }
  }

  .toolbar-title-ios{
    text-align: left !important;
  }

  .cut-title{
    font-size: 1.2rem !important;
    font-weight: 500 !important;
  }

  // 覆盖原有样式
  ion-item-options {
    .button {
      //height: 40% !important;
      min-height: 0 !important;
    }
  }
  .col {
    padding: 0 !important;
  }

  ion-list-header{
    text-align: center;
    line-height: 7vh;
    span{
      font-size: 1.6em;
      font-weight: bold;
    }
  }
  img{
    width: 100%;
    height: 250px;
    overflow: hidden;
    margin-top: -50px;
    margin-bottom: -50px;
  }

  ion-item {
    padding:  0 !important;
    //pading-left:  0 !important;
    //width: 100vw !important;
    height: 20vh;
    position: relative;
    text-align: center;
  }
  //.item-ios .item-block .item-inner {
  //  padding: 0 ;
  //}
  .item-inner {
    padding: 0 !important;
  }
  .label-ios {
    margin: 0 !important;
  }

  .card-title {

    //background-color: rgba(2d,2d,2d, 0.5);
    width: 50%;
    height: 180px;
    line-height: 5vh;
    position: absolute;
    left: 5vw;
    top: 3vh;
    bottom: 35px;
    //font-size: 1.5em;
    //width: 100%;
    //font-weight: bold;
    color: #ffffff;
    text-align: left;
    //float: left;
  }

  //
  .btn-list {
    //display: flex;
    //width: 46vw;
    height: 20vh
  }
  .operator-button {
    float: left !important;
    height: 50% !important;
    padding: 0 !important;
    //width: 22.5vw;
    width: 50%;
  }
  .unpack-btn {
    color: #bfbfbf;
    background-color: rgba(191, 191, 191, 0.25) !important;
  }
}
