<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button tappable ion-button icon-only (click)="goHomeMenuPage()">
        <ion-icon color="Gray-color" name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      <div >
        <span>Jimmy</span><br/>
        <span class="cut-title">欢迎来到{{factoryName}}</span>
      </div>
    </ion-title>
    <ion-buttons end>
      <button tappable ion-button icon-only (click)="goSettingPage()" >
        <ion-icon color="Gray-color" name="settings">
        </ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content>

  <ion-list no-lines *ngFor="let item of dataList">
    <ion-list-header>
      <span *ngIf="item.dateStr === todayStr">今日您已预订</span>
      <span *ngIf="item.dateStr !== todayStr">{{item.dateStr}}</span>
    </ion-list-header>

    <!--如果显示多条则进行ngFor-->
    <!--<ion-item-sliding *ngFor="let p of item.list" style="margin-bottom: 3vh">-->


    <ion-item-sliding style="margin-bottom: 3vh">
      <ion-item tappable (click)="gotoDetailList(item)">
        <!--<img src="https://dininghall.blob.core.windows.net/product/bb4ecee246e44ebdad0ef41ca1e8320e.png"/>-->
        <img src="{{item.list[0].blobPath}}"/>
        <div class="card-title">
          <div style="font-size: 2rem">
            {{item?.list[0].mealType}}
          </div>
          <div style="font-size: 1.7rem">
            {{item?.list[0].productName}}
          </div>
          <div style="font-size: 1.7rem">
            {{item?.list[0].factoryName}}-{{item?.list[0].officeName}}
          </div>
        </div>
      </ion-item>
      <ion-item-options side="right">
        <div class="btn-list">
              <button class="operator-button" color="light" ion-button (click)="pack(item?.list[0].id, item?.list[0].isPack)">
                <ion-icon name="ios-cube-outline"></ion-icon>
                打包
              </button>
              <button class="operator-button" color="light" ion-button (click)="holdOrder(item?.list[0].id)">
                <ion-icon name="ios-hand-outline"></ion-icon>
                留餐
              </button>
              <button class="operator-button" color="light" ion-button (click)="edit(item?.list[0].id)">
                <ion-icon name="ios-create-outline"></ion-icon>
                编辑
              </button>
              <button class="operator-button" ion-button color="light" (click)="cancelOrder(item?.list[0].id)">
                <ion-icon name="ios-trash-outline"></ion-icon>
                退订
              </button>
                <!--<button *ngIf="item?.list[0].isPack === 0" disabled="true" class="operator-button" color="light" ion-button (click)="pack(item?.list[0].id)">-->
                <!--<ion-icon name="ios-cube-outline"></ion-icon>-->
                <!--打包-->
                <!--</button>-->

        </div>
        <!--<button class="operator-button" color="light" ion-button (click)="holdOrder(p.id, userId)">-->
          <!--<ion-icon name="ios-hand-outline"></ion-icon>-->
          <!--留餐-->
        <!--</button>-->
        <!--<button class="operator-button" ion-button color="danger" (click)="cancelOrder(p.id, userId)">-->
          <!--<ion-icon name="ios-trash-outline"></ion-icon>-->
          <!--退订-->
        <!--</button>-->
      </ion-item-options>
    </ion-item-sliding>



  </ion-list>

  <!--<ion-list>-->
    <!--<ion-item-sliding  style="margin-bottom: 3vh">-->
      <!--<ion-item>-->
        <!--<img src="https://dininghall.blob.core.windows.net/product/bb4ecee246e44ebdad0ef41ca1e8320e.png"/>-->
        <!--<div class="card-title">-->
          <!--<div style="font-size: 2rem">-->
            <!--早餐-->
          <!--</div>-->
          <!--<div style="font-size: 1.7rem">-->
            <!--套餐1-->
          <!--</div>-->
          <!--<div style="font-size: 1.7rem">-->
            <!--十如-餐厅一-->
          <!--</div>-->
        <!--</div>-->
      <!--</ion-item>-->
      <!--<ion-item-options side="right">-->
        <!--<div class="btn-list">-->
          <!--<ion-row>-->
            <!--<ion-col>-->
              <!--<button class="operator-button" color="light" ion-button (click)="pack(p.id, userId)">-->
                <!--<ion-icon name="ios-cube-outline"></ion-icon>-->
                <!--打包-->
              <!--</button>-->
            <!--</ion-col>-->
            <!--<ion-col>-->
              <!--<button class="operator-button" color="light" ion-button (click)="holdOrder(p.id, userId)">-->
              <!--<ion-icon name="ios-hand-outline"></ion-icon>-->
              <!--留餐-->
              <!--</button>-->
            <!--</ion-col>-->
          <!--</ion-row>-->
          <!--<ion-row>-->
            <!--<ion-col>-->
              <!--<button class="operator-button" color="light" ion-button (click)="pack(p.id, userId)">-->
                <!--<ion-icon name="ios-create-outline"></ion-icon>-->
                <!--编辑-->
              <!--</button>-->
            <!--</ion-col>-->
            <!--<ion-col>-->
              <!--<button class="operator-button" ion-button color="light" (click)="cancelOrder(p.id, userId)">-->
                <!--<ion-icon name="ios-trash-outline"></ion-icon>-->
                <!--退订-->
              <!--</button>-->
            <!--</ion-col>-->
          <!--</ion-row>-->
        <!--</div>-->
      <!--</ion-item-options>-->
    <!--</ion-item-sliding>-->
  <!--</ion-list>-->




  <!--<div *ngIf="dataList.length === 0" style="font-size: 2rem;margin-top: 30vh;margin-left: 40vw">-->
    <!--暂无数据-->
  <!--</div>-->

</ion-content>
