page-home-menu {
  .inner-list{
    .input-wrapper{
      margin-left: 10px;
    }

  }
  .last-item{
    border-bottom: 0.55px solid;
  }
  .list-header{
    span{
      font-size: large;
      font-weight: bold;
      //margin-left: 10px
    }
  }
}
