<!--
  Generated template for the TypeDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{monStr}}月{{dayStr}}日</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <span style="font-size: 1.5rem;font-weight: bold;line-height: 60px">{{label}} - {{name}}</span>

  <ion-card *ngFor="let item of resultList; let i = index" tappable (click)="gotoDetail(item)">
    <img src="{{item.imgUrl}}"/>
    <ion-card-content>
      <ion-card-title>
        {{item.name}}
      </ion-card-title>
      <p>
        包括： {{item.productName}}
      </p>
    </ion-card-content>
  </ion-card>
  <div *ngIf="resultList?.length === 0">
    <div class="null-data">
      <img src="assets/imgs/null.png" alt="加载失败">
    </div>
  </div>
</ion-content>
