page-home {
  ion-buttons {
    margin: 0 0.4rem !important;
  }

  .null-tips {
    color: #bfbfbf;
    position: relative;
    left: 44%;
    margin-top: 15%;
    font-size: 1.7rem;

    img{
      width: auto;
      height: auto;
    }
  }

  .bage-message {
    padding: 0 !important;
    margin-left: -10px !important;
    margin-top: -20px !important;
    //min-width: 3px !important;
    font-size: 1rem !important;
    background-color: #ff0f1c !important;
  }

  //.swiper-slide img {
  //  width: 100% !important;
  //  max-width: none;
  //  height: 40vh !important;
  //  max-height: none;
  //}


  /* 头部样式*/
  .toolbar-ios {
    color: #686868;
    min-height: 70px !important;
    p {
      margin: 0 !important;
    }
  }


  .toolbar-title-ios{
    text-align: left !important;
  }

  .cut-title{
    //padding-top: 5px !important;
    font-size: 1.2rem !important;
    font-weight: 500 !important;
  }




  .swiper-pagination-bullet-active {
    background: #D97300 !important;
    opacity: 1;
  }

  .swiper-pagination-bullet {
    width: 15px !important;
    height: 15px !important;
    background: #808080;
    opacity: .8 !important;
    pointer-events: auto;
  }


  .card-ios {
    margin: 0 0 0.3vh !important;
    width: 100% !important;
  }

  .img-item{
    width: 100% !important;
    height: auto !important;
    //margin-top: -6vh;
    //margin-bottom: -6vh;
    overflow: hidden;
  }

  .footer-card {
    //z-index: 10000;
    //border: 1px solid red;
    height: calc(100vh - 70px - calc( 100vw / 16 * 9 * 2));
    display: flex;
    /*左右居中*/
    justify-content: center;
    /*上下居中*/
    align-items: center;
    .logo {
      width: calc(100vw * 0.8);
      height: 80%;
      object-position: center;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
      //height: calc(calc(100vh - 70px - calc( 100vw / 3 * 4)) / 3 * 2);
    }
    //ion-card {
    //  margin: 0 !important;
    //}
    //.logo {
    //
    //}
  }

  ion-card {
    height: calc( 100vw / 16 * 9);
    position: relative;

    .no-product {
      text-align: center;
    }
  }

  // 文字遮罩层
  .back-ground {
    width: 37vw;
    height: calc( 100vw / 16 * 9);
    background: rgba(0, 0, 0, .5);
    position: absolute;
    left: 0;
    top: 0;
  }



  .card-title {
    width: 50%;
    height: 180px;
    line-height: 5vh;
    position: absolute;
    left: 5vw;
    top: 7vh;
    bottom: 35px;
    color: #ffffff;
    text-align: left;
  }

  .order-tile {
    width: 50%;
    line-height: 5vh;
    position: absolute;
    left: 5vw;
    //top: 13vh;
    top: calc(100vw / 16 * 9 / 2 - 1vh);
    bottom: 35px;
    font-size: 2em;
    color: #ffffff;
  }

  .qrcode-btn {
    z-index: 100;
    position: fixed;
    width: 32px;
    height: 32px;
    bottom: 10vh;
    right: 10vw;
    box-shadow: 2px 2px 12px 1px #000;
  }
}
