page-home {

  .swiper-slide img {
    width: 100% !important;
    max-width: none;
    height: 40vh !important;
    max-height: none;
  }


  /* 头部样式*/
  .toolbar-ios {
    min-height: 55px !important;
  }

  .toolbar-title-ios{
    text-align: left !important;
  }

  .cut-title{
    font-size: 1.2rem !important;
    font-weight: 500 !important;
  }




  .swiper-pagination-bullet-active {
    background: #DAA520 !important;
    opacity: 1;
  }

  .swiper-pagination-bullet {
    width: 15px !important;
    height: 15px !important;
    background: #808080;
    opacity: .8 !important;
    pointer-events: auto;
  }

  img{
    width: 100% !important;
    height: 40vh !important;
    margin-top: -6vh;
    margin-bottom: -6vh;
    overflow: hidden;
  }




  .card-ios {
    margin: 0 0 1vh !important;
    width: 100% !important;
  }

  ion-card {
    //height: 70px;
    height: 29vh;
    position: relative;
    //text-align: center;
    margin-bottom: 1vh;

    .no-product {
      text-align: center;
    }
  }



  .card-title {

    //background-color: rgba(2d,2d,2d, 0.5);
    width: 50%;
    height: 180px;
    line-height: 5vh;
    position: absolute;
    left: 5vw;
    top: 7vh;
    bottom: 35px;
    //font-size: 1.5em;
    //width: 100%;
    //font-weight: bold;
    color: #ffffff;
    text-align: left;
    //float: left;
  }

  .order-tile {

    //background-color: rgba(2d,2d,2d, 0.5);
    width: 50%;
    //height: 180px;
    line-height: 5vh;
    position: absolute;
    left: 5vw;
    top: 13vh;
    bottom: 35px;
    font-size: 2em;
    //width: 100%;
    //font-weight: bold;
    color: #ffffff;
  }
}
