<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button tappable ion-button icon-only (click)="goHomeMenuPage()">
        <ion-icon color="Gray-color" name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      <div >
        <span>Jimmy</span><br/>
        <span class="cut-title">欢迎来到{{factoryName}}</span>
      </div>
    </ion-title>
    <ion-buttons end>
      <button tappable ion-button icon-only (click)="goSettingPage()" >
        <ion-icon color="Gray-color" name="settings">
        </ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<!--测试富文本-->

<!--<ion-content>-->
  <!--<div id="text">-->
  <!--</div>-->
<!--</ion-content>-->

<ion-content>
  <ion-card tappable (click)="gotoWaitingUse()">
    <ion-card-header>
      <ion-icon ios="ios-basket" md="md-basket"></ion-icon>
      <span >今日您已预订</span>
    </ion-card-header>

    <ion-slides *ngIf="orderList?.length > 0">

      <ion-slide *ngFor="let item of orderList" >
        <img src="{{item.imgUrl}}"/>
        <div class="card-title">
          <div style="font-size: 2rem">
            {{item.productName}}
          </div>
          <div style="font-size: 1.7rem">
            {{item.factoryName}}-{{item.officeName}}
          </div>
          <div style="font-size: 2rem">
            {{item.label}}
          </div>
        </div>
      </ion-slide>

    </ion-slides>

    <div *ngIf="orderList?.length === 0" class="no-product">
      <h5>暂无预定</h5>
    </div>

  </ion-card>


  <ion-card tappable (click)="gotoOrder(factoryName)">
    <img src="assets/imgs/2.png"/>
    <div class="order-tile">
      立即预订
    </div>
  </ion-card>

  <ion-card>
    <img src="assets/imgs/3.png"/>
    <div class="order-tile">
      新闻
    </div>
  </ion-card>
  <!--<qr-code [value]="'1231234'" [size]="150" [backgroundAlpha]="0.5" [padding]="10"></qr-code>-->
</ion-content>


<!--<ion-content padding>-->
  <!--&lt;!&ndash;<h2>Expense List</h2>&ndash;&gt;-->
  <!--<ion-list>-->
    <!--<ion-item-sliding *ngFor="let user of userinfo; let i=index">-->
      <!--<ion-item>-->
        <!--<ion-avatar item-start>-->
          <!--{{i}}-->
        <!--</ion-avatar>-->
        <!--<h2>{{user.product_id}}</h2>-->
        <!--<h3>{{user.material_id}}</h3>-->
        <!--<p>{{user.weight}}克</p>-->
      <!--</ion-item>-->
    <!--</ion-item-sliding>-->
  <!--</ion-list>-->
  <!--&lt;!&ndash; <ion-infinite-scroll (ionInfinite)="loadMoreRepos($event)" *ngIf="hasMore">-->
    <!--<ion-infinite-scroll-content-->
      <!--loadingSpinner="bubbles"-->
      <!--loadingText="loading..."-->
    <!--&gt;</ion-infinite-scroll-content>-->
  <!--</ion-infinite-scroll> &ndash;&gt;-->
<!--</ion-content>-->
<!--<ion-footer>-->
  <!--<ion-toolbar>-->
    <!--&lt;!&ndash; <ion-title>已经加载了：{{userinfo.length}} </ion-title> &ndash;&gt;-->
    <!--<ion-title>总共：{{total}} 条</ion-title>-->
  <!--</ion-toolbar>-->
<!--</ion-footer>-->
