<ion-header >
  <ion-navbar>
    <ion-buttons start>
      <button tappable ion-button icon-only (click)="goHomeMenuPage()">
        <ion-icon color="Gray-color" name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      <div style="margin: 15px 0" >
        <p>{{userName}}Jimmy</p>
        <p class="cut-title">欢迎来到{{factoryName}}</p>
      </div>
    </ion-title>
    <ion-buttons *ngIf="messageCount > 0" end>
      <button tappable ion-button icon-only (click)="gotoUnreadMessage()" >
        <ion-icon color="Gray-color" name="ios-mail-outline">
          <ion-badge class="bage-message">{{messageCount}}</ion-badge>
        </ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button tappable ion-button icon-only (click)="gotoHomePage()" >
        <ion-icon color="Gray-color" name="ios-more">
        </ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button tappable ion-button icon-only (click)="goSettingPage()" >
        <ion-icon color="Gray-color" name="settings">
        </ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<!--测试富文本-->

<!--<ion-content>-->
  <!--<div id="text">-->
  <!--</div>-->
<!--</ion-content>-->

<ion-content>
  <ion-card *ngIf="orderList?.length > 0" tappable="" (click)="gotoWaitingUse()">
    <ion-slides pager>

      <ion-slide *ngFor="let item of orderList" >
        <img class="img-item" src="{{item.imgUrl}}"/>
        <div class="card-title">
          <div style="font-size: 2rem">
            {{item.productName}}
          </div>
          <div style="font-size: 1.7rem">
            {{item.factoryName}}-{{item.officeName}}
          </div>
          <div style="font-size: 2rem">
            {{item.label}}
          </div>
        </div>
      </ion-slide>
    </ion-slides>
    <!--<ion-cardR-header>-->
    <!--<ion-icon ios="ios-basket" md="md-basket"></ion-icon>-->
    <!--<span >今日您已预订</span>-->
    <!--</ion-card-header>-->
  </ion-card>

  <ion-card *ngIf="(isNull && orderList.length === 0)">
    <img src="assets/imgs/noOrder.png"/>
    <!--<div  class="null-content">-->
      <!--<div class="null-tips">-->
        <!--<img src="assets/imgs/null.png" alt="">-->
        <!--<div>暂无订餐</div>-->
      <!--</div>-->
    <!--</div>-->
  </ion-card>




  <ion-card tappable (click)="gotoOrder(factoryName)">
    <img class="img-item" src="https://dininghall.blob.core.windows.net/product/473c5d4611c74be3acc05a6b54cca853.png"/>
    <!--<img class="img-item" src="assets/imgs/test.jpg"/>-->
    <div class="order-tile">
      立即预订
    </div>
  </ion-card>

  <div class="footer-card">
    <ion-card >
      <img class="img-item" src="https://dininghall.blob.core.windows.net/product/bb4ecee246e44ebdad0ef41ca1e8320e.png"/>
      <div class="order-tile">
        新闻
      </div>
    </ion-card>
  </div>
  <!--<qr-code [value]="'1231234'" [size]="150" [backgroundAlpha]="0.5" [padding]="10"></qr-code>-->
</ion-content>

