page-detail-modal {

  position: relative;
  //margin-left: 8vw;
  ion-slides{
    height: 250px !important;
  }

  .common-title {
    margin: 0 5vw;
    font-size: 1.6rem;
  }

  .product-title {
    margin-top: 5vh;
    margin-left: 5vw;
    font-size: 2rem;
  }
  .price-title {
    //margin-top: 5vh;
    margin-left: 5vw;
    font-size: 2rem;
  }

  .order-btn {
    z-index: 100;
    background-color: rgba(39, 194, 15, 0.6);
    width: 20%;
    height: 35px;
    border-radius: 10px;
    position: fixed;
    bottom: 10vh;
    right: 10vw;
    font-size: 1.2em;
    //width: 100%;
    //font-weight: bold;
    color: #fff;
  }
  //height: 80vh;
}
