<!--
  Generated template for the WeekMenuTypePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>一周菜单</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <span style="font-size: 1.8rem;font-weight: bold;padding: 16px;line-height: 60px">{{todayStr}}</span>

  <ion-list style="padding-top: 10px">
    <ion-card ion-item *ngFor="let item of typeList; let i = index" no-lines style="background-image: none" >
      <ion-card-header (click)="accordion(item.value)">

        <span style="font-size: 1.5rem;font-weight: bold">{{item?.label}}</span>
        <ion-icon name="ios-arrow-up-outline"  *ngIf="item.value === value" style="margin-left: 80%" ></ion-icon>
      </ion-card-header>

      <!--<ion-icon name="ios-arrow-forward" item-right *ngIf="!(item.status)" ></ion-icon>-->
      <ion-list *ngIf="item.value === value">
        <ion-card class="type-list-card"  *ngFor=" let p of typeObj[item.value]; let typeIndex = index" (click)="gotoTypeDetail(p.name, item.value, item.label, p.id)">
          <img src="{{p?.imgUrl}}"/>
          <div class="card-title">{{p?.name}}</div>
          <!--<div class="card-subtitle">64 Listings</div>-->
        </ion-card>
      </ion-list>
    </ion-card>

  </ion-list>


</ion-content>
