<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of orderList">
      <h2>{{item.productName}}</h2>
      <div item-end>
        <h3 style="margin-left: 10px">{{item.price}}{{'CONSUME.UNIT' | translate}}</h3>
        <!--<button ion-button >{{'CONSUME.ACTION' | translate}}</button>-->
      </div>
      <p style="line-height: 35px">
        <ion-badge>{{item.mealType}}</ion-badge>
        {{item.payDate}} {{item.factoryName}}-{{item.officeName}}
      </p>
    </ion-item>
  </ion-list>

  <div *ngIf="(isNull && orderList.length === 0)" class="null-tips">
    <img src="assets/imgs/null.png" alt="">
    <div>{{'COMMON.NODATA' | translate }}</div>
  </div>

</ion-content>
