<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of orderList">
      <h2>{{item?.productName}}</h2>
      <div item-end>
        <h3 style="margin-left: 10px">{{item?.price}}元</h3>
        <button ion-button >去评价</button>
      </div>
      <p style="line-height: 35px">
        <ion-badge>{{item.mealType}}</ion-badge>
        {{item.payDate}} {{item.factoryName}}-{{item.officeName}}
      </p>
    </ion-item>
  </ion-list>

  <div *ngIf="(isNull && orderList.length === 0)" class="null-tips">
    <img src="assets/imgs/null.png" alt="">
    <div>暂无数据</div>
  </div>

</ion-content>
